.counter-container{
  text-align: center;
}
.count{
  font-size: 3em;
  color: aqua;
}
.counter-button{
  font-size: 1.5em;
  background-color: hsl(182, 62%, 58%);
  border: none;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 10px;
  transition: 0.1s;
}
.counter-button:active{
  background-color:hsl(182, 62%, 40%) ;
}
body{
  background: url(https://cdn.pixabay.com/photo/2017/11/13/07/14/cats-eyes-2944820_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}